@import url('https://fonts.googleapis.com/css2?family=Caveat&family=DM+Serif+Display&family=Dhurjati&display=swap');

body {
    background-color: beige;
}

.center {
    margin: 0 auto;
    display: block;
    color: darkred;
} 

.pastaheading {
    color: darkred;
    font-family: 'Caveat', cursive;
    font-size: 300%;
} 

.ingredients {
    border: 0px solid black;
    width: 30%;
    margin:0 auto;
    padding-bottom: 0px;
    padding-top: 0px;
    color: darkred;
}

.ingredients-table {
    
    text-align: left;
    width: 100%;
}

.instructions {
    border: 0px solid black;
    width: 30%;
    margin:0 auto;
}

.instructions ol {
    text-align: left;
    width: 100%;
    color: darkred;
}

.footer {
    text-align: right;
    color: darkred;
}
